{% extends 'base.html.twig' %}

{% block title %}Escale Evasion
{% endblock %}

{% block body %}
    <style>
		.Glogo {
			width: 222px;
			height: auto;
			position: absolute;
			top: 150px;
			left: 50%;
			transform: translateX(-50%);
		}
        .parallax-title {
			position: absolute;
			top: 50px;
			left: 50%;
			transform: translateX(-50%);
            color: white;
            font-size: 1.5rem;
            text-shadow: 0 2px 8px rgba(0,0,0,0.5);
        }
        @font-face {
            font-family: 'MaPolicePerso';
            src: url('/fonts/Italianno-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        span {
            font-family: 'MaPolicePerso', Arial, sans-serif;
            font-size: 3rem;
        }
    </style>

    <div class="parallax d-flex flex-column align-items-center ">
		<img class="Glogo" src="/img/GrandLogoLight.png" alt="">
        <div class="parallax-title">
            <span> Bienvenue sur Escale Evasion</span>
        </div>
		
    </div>


{% endblock %}
