{% extends 'base.html.twig' %}

{% block title %}Escale Evasion
{% endblock %}

{% block body %}
    <style>
        .parallax {
            background-image: url('/protected-bg/backgroundParallax2.png');
            height: 100vh;
			width: 100%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
		.Glogo {
			width: 300px;
			height: auto;
			position: absolute;
			top: 150px;
			left: 50%;
			transform: translateX(-50%);
		}
        .parallax-title {

			position: absolute;
			top: 50px;
			left: 50%;
			transform: translateX(-50%);
            color: white;
            font-size: 2rem;
            
            text-shadow: 0 2px 8px rgba(0,0,0,0.5);
        }
        @font-face {
            font-family: 'MaPolicePerso';
            src: url('/fonts/Italianno-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        span {
            font-family: 'MaPolicePerso', Arial, sans-serif;
            font-size: 3.5rem;
        }

    </style>

    <div class="parallax  d-flex flex-column align-items-center ">
		<img class="Glogo" src="/img/GrandLogoLight.png" alt="terrasse avec vue sur la mer">
        <div class="parallax-title">
            <span> Bienvenue sur Escale Evasion</span>
        </div>
		
    </div>


{% endblock %}
