{% extends 'base.html.twig' %}
{% block title %}Mes réservations{% endblock %}
{% block body %}
<div class="container my-5">
    <h2>Mes réservations</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Logement</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for r in reservations %}
                <tr>
                    <td>{{ r.product.name }}</td>
                    <td>{{ r.startDate|date('d/m/Y') }}</td>
                    <td>{{ r.endDate|date('d/m/Y') }}</td>
                    <td>{{ r.status }}</td>
                </tr>
            {% else %}
                <tr><td colspan="4" class="text-center text-muted">Aucune réservation</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}